
{% extends 'main.html' %}

{% block About %}


<!--=== Welcome Start ===-->
<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-md-6 heading-style-one box-title-two text-left">
                <h6 class="yellow-color text-uppercase">About the Disease</h6>
                <h2><span class="font-700">Coronavirus (COVID-19)</h2>
        <p>An ongoing worldwide pandemic of coronavirus disease 2019 (COVID-19), a novel infectious disease caused by severe acute respiratory syndrome coronavirus 2 (SARS-CoV-2), was first confirmed to have spread to Italy on 31 January 2020, when two Chinese tourists in Rome tested positive for the virus.</p>
            </div>
        </div>

        <div class="row mt-100">
            <div class="col-md-4">
                <div class="feature-box text-center feature-box-rounded mb-20">
                    <i class="virus-icon img-icon"></i>
                    <h3 class="font-600">Virus</h3>
                    <p>A virus is a submicroscopic infectious agent that replicates only inside the living cells of an organism.</p>
                  <p class="mt-30">
                      <a class="btn btn-green btn-sm btn-circle">Read More</a>
                  </p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="feature-box text-center feature-box-rounded mb-20">
                    <i class="hand-icon img-icon"></i>
                    <h3 class="font-600">Hand Washing</h3>
                    <p>Wash your hands, wash your hands, wash your hands. That splash-under-water flick won’t cut it anymore.</p>
                  <p class="mt-30">
                      <a class="btn btn-pink btn-sm btn-circle">Read More</a>
                  </p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="feature-box text-center feature-box-rounded">
                    <i class="mask-icon img-icon"></i>
                    <h3 cl  ass="font-600">Use Mask</h3>
                    <p>Face masks have become a symbol of coronavirus, but stockpiling them might do more harm than good.</p>
                  <p class="mt-30">
                      <a class="btn btn-purple btn-sm btn-circle">Read More</a>
                  </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!--=== Welcome End ===-->

{% include "footer.html" %}
{% endblock %}
